{% extends "base.html" %}

{% block pageTitle %}Submit post{% endblock %}

{% block body %}

  <div class="col-md-8 col-md-offset-2"><br><br>
    <h1>Submit a post</h1><hr>
    {% if sub_session %}
      {{ sub_session }}
    {% endif %}
    <div class="panel panel-default">

      <ul class="nav nav-tabs">
        <li class="active" id="linktab"><a href="#link" id="showlink"><span class="glyphicon
        glyphicon-link"> </span> Share a link</a></li>
        <li id="texttab"><a href="#text" id="showtext"><span class="glyphicon glyphicon-pencil"> </span> Text post</a></li>
      </ul>

        <div class="panel-body">
          <div class="tab-content">
          <div id="link" class="tab-pane fade in active">
          <form action="{{ url_for('submit_post') }}" method="POST" enctype="multipart/form-data">

            {% if message %}
              {% if message == 'post_error' %}
              <p>Oops, something went wrong. Please try again.</p>
              {% endif %}
            {% endif %}

            <input type="hidden" name="post_type" id="post_type" value="link">
            <input type="hidden" name="post_textarea" id="post_textarea" value="none">

            <div class="form-group label-floating is-empty">
              <label class="control-label" for="post_link">URL</label><br>
              <!--<small id="link-help" class="form-text text-muted">Copy and paste
              the link you want to share here. e.g. www.example.com</small>-->
              <input type="url" maxlength="200" name="post_link" id="post_link"
              class="form-control nospace" required>
              <p class="help-block">Paste the link you want to share here. e.g. https://www.example.com</p>
            </div>

            <div class="form-group label-floating is-empty">
              <label class="control-label" for="post_title">Title</label><br>
              <!--<small id="post_title-help" class="form-text text-muted">No
              longer than 200 characters.</small>-->
              <input type="text" maxlength="200" name="post_title" id="post_title"
              class="form-control" required>
              <p class="help-block">Give your post a descriptive title</p>
            </div>

            <div class="form-group">
              <label for="autocomplete">Subreddit</label><br>
              <!--<small id="subreddit_id-help" class="form-text text-muted">Choose a subreddit to share your link to</small>-->
              
              <div class="input-group">
                <span class="input-group-addon" id="sub_addon">/r/</span>
            <!-- if sub_id is in the session then prefill the subreddit input fields -->
            {% if sub_id %}
                  <input type="text" name="subreddit_name" id="subreddit_name" class="form-control" placeholder="Subreddit name" value="{{ sub_name }}" required>
              </div>
              <small id="sub_error" class="sub_error"></small>
              <input type="hidden" name="subreddit_id" id="subreddit_id" class="form-control" value="{{ sub_id }}">

            {% else %}
                <input type="text" name="subreddit_name" id="subreddit_name" class="form-control" placeholder="Subreddit name" required>
              </div>
              <small id="sub_error" class="sub_error"></small>
              <input type="hidden" name="subreddit_id" id="subreddit_id" class="form-control">
            {% endif %}


            </div> 

            <button type="submit" class="btn btn-primary btn-raised">Submit</button>

          </form>
          </div>
          

          <div id="text" class="tab-pane fade">
            

            <form action="{{ url_for('submit_post') }}" method="POST" enctype="multipart/form-data">

            <input type="hidden" name="post_type" id="post_type" value="text">
            <input type="hidden" name="post_link" id="post_textarea" value="none">

            <div class="form-group label-floating is-empty">
              <label class="control-label" for="post_textarea">Text</label><br>
              <!--<small id="text-help" class="form-text text-muted">Enter the content of your post here. Max 500 characters.</small>-->
              <textarea rows="4" maxlength="500" name="post_textarea" id="post_textarea" class="form-control nospace" required autofocus></textarea>
              <p class="help-block">Enter the content of your post here. Max 500 characters.</p>
            </div>

            <div class="form-group label-floating is-empty">
              <label class="control-label" for="subreddit_title">Title</label><br>
              <!--<small id="post_title-help" class="form-text text-muted">No
              longer than 200 characters.</small>-->
              <input type="text" maxlength="200" name="post_title" id="post_title"
              class="form-control" required>
              <p class="help-block">Give your post a descriptive title. Max 200 characters.</p>
            </div>

            <div class="form-group">
              <label for="autocomplete">Subreddit</label><br>
              <!--<small id="subreddit_id-help" class="form-text text-muted">Choose a subreddit to share your link to</small>-->
              
              <div class="input-group">
                <span class="input-group-addon" id="sub_addon">/r/</span>
            <!-- if sub_id is in the session then prefill the subreddit input fields -->
            {% if sub_id %}
                  <input type="text" name="subreddit_name" id="subreddit_name_txt" class="form-control" placeholder="Subreddit name" value="{{ sub_name }}" required>
              </div>
              <small id="sub_error_txt" class="sub_error"></small>
              <input type="hidden" name="subreddit_id" id="subreddit_id_txt" class="form-control" value="{{ sub_id }}">

            {% else %}
                <input type="text" name="subreddit_name" id="subreddit_name_txt" class="form-control" placeholder="Subreddit name" required>
              </div>
              <small id="sub_error_txt" class="sub_error"></small>
              <input type="hidden" name="subreddit_id" id="subreddit_id_txt" class="form-control">
            {% endif %}


            </div> 

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>









          </div>
          </div>

        </div>
    </div>
  </div>



              <!-- Autocomplete search script -->
              <script>
                
                  var subreddits = [
                    {% for subs in subreddits %}
                    {
                    hidden_val: "{{ subs.subreddit_id }}",
                    label: "{{ subs.subreddit_name }}"
                    },
                    {% endfor %}
                  ];
                  $("#subreddit_name,#subreddit_name_txt").autocomplete({
                    delay: 0,
                    minLength:1,
                    autoFocus:true,
                    source: subreddits,
                    select: function(event, ui){
                      $("#subreddit_id").val(ui.item.hidden_val);
                      $(".sub_error").text('');
                      $("#subreddit_id_txt").val(ui.item.hidden_val);
                    },
                    change: function(event,ui)
                      {
                      if (ui.item==null)
                        {
                        $(".sub_error").text('Please choose a subreddit from the list');
                        $("#subreddit_name").val('');
                        $("#subreddit_name").focus();
                        $("#subreddit_name_txt").val('');
                        $("#subreddit_name_txt").focus();

                        }
                      }
                  });
                
              </script> 

{% endblock %}
